*generated1:	#040404
*generated2:	#0f0f0f
*generated3:	#1f1f1f
*generated4:	#2f2f2f
*generated5:	#3f3f3f
*generated6:	#505050
*generated7:	#606060
*generated8:	#707070
*generated9:	#7c7c7c
*generated10:	#8d8d8d
*generated11:	#a0a0a0
*generated12:	#b0b0b0
*generated13:	#c0c0c0
*generated14:	#cfcfcf
*generated15:	#e1e1e1
*generated16:	#f5f5f5
*generated.transparent1:	#e1040404
*generated.transparent2:	#e10f0f0f
*generated.transparent3:	#e11f1f1f
*generated.transparent4:	#e12f2f2f
*generated.transparent5:	#e13f3f3f
*generated.transparent6:	#e1505050
*generated.transparent7:	#e1606060
*generated.transparent8:	#e1707070
*generated.transparent9:	#e17c7c7c
*generated.transparent10:	#e18d8d8d
*generated.transparent11:	#e1a0a0a0
*generated.transparent12:	#e1b0b0b0
*generated.transparent13:	#e1c0c0c0
*generated.transparent14:	#e1cfcfcf
*generated.transparent15:	#e1e1e1e1
*generated.transparent16:	#e1f5f5f5
